<div class="bloco">
    <strong>Moedas</strong>
    <div class="moedas">
        <label>
            PC
            <input type="text" inputmode="numeric" value="{{ personagem.moedas.pc }}">
        </label>
        <label>
            PP
            <input type="text" inputmode="numeric" value="{{ personagem.moedas.pp }}">
        </label>
        <label>
            PE
            <input type="text" inputmode="numeric" value="{{ personagem.moedas.pe }}">
        </label>
        <label>
            PO
            <input type="text" inputmode="numeric" value="{{ personagem.moedas.po }}">
        </label>
        <label>
            PL
            <input type="text" inputmode="numeric" value="{{ personagem.moedas.pl }}">
        </label>
    </div>
</div>