<div class="bloco atributo">
    <div>
        {% assign mod = personagem.atributos.con | minus: 10 %}
        {% if mod < 0 %} {% assign mod=mod | minus: 1 | divided_by: 2 %} {% else %} {% assign mod=mod | divided_by: 2 %}
            {% endif %} <strong>Constituição</strong>
            <section>
                <span class="modificador">{% if mod >= 0 %}+{% endif %}{{ mod }}</span>
                <span class="valor">{{ personagem.atributos.con }}</span>
            </section>
    </div>
    <section class="salvaguarda">
        {% if personagem.atributos.saves.con %}
        {% assign save_total = mod | plus: bonus_prof %}
        {% else %}
        {% assign save_total = mod %}
        {% endif %}

        <label>
            <input type="checkbox" disabled {% if personagem.atributos.saves.con %}checked{% endif %}>
        </label>
        <span>{% if save_total >= 0 %}+{% endif %}{{ save_total }}</span>
        <strong>Salvaguarda</strong>
    </section>
</div>