---
permalink: /a%20ultima%20luz/karne
nome: Karne
personagem: karne
layout: ficha
---

{% assign karne = site.data.karne %}

<div class="ficha">
    <!-- BLOCO 1 -->
    <div class="cabecalho">
        <h2>{{ karne.infobasica.nome }}</h2>
    </div>

    <div class="bloco b2 classe">

        <div>
            <span>{{ karne.infobasica.origem }}</span>
            <strong>Origem</strong>
        </div>

        <div>
            <span>{{ karne.infobasica.classe }}</span>
            <strong>Classe</strong>
        </div>

        <div>
            <span>{{ karne.infobasica.especie }}</span>
            <strong>Espécie</strong>
        </div>

        <div>
            <span>{% if karne.infobasica.subclasse and karne.infobasica.subclasse != "" %}{{
                karne.infobasica.subclasse }}{% else %}—{% endif %}</span>
            <strong>Subclasse</strong>
        </div>
    </div>


    <!-- BLOCO 2 -->
    <div class="bloco b1 nivel">
        <div>
            <span>{{ karne.infobasica.nivel }}</span>
            <strong>Nível</strong>
        </div>

        <div>
            <span>{{ karne.infobasica.exp }}</span>
            <strong>Exp.</strong>
        </div>
    </div>


    <!-- BLOCO 3 -->
    <div class="bloco b1 nivel armadura">
        <div>
            <strong>Classe de Armadura</strong>
            <span>—</span>
        </div>

        <div>
            <strong>Escudo</strong>
            <label>
                <input type="checkbox" disabled {% if karne.equipamento.escudo==1 %}checked{% endif %}>
            </label>
        </div>
    </div>


    <!-- BLOCO 4 -->
    <div class="bloco b2 vida">

        <!-- PONTOS DE VIDA -->
        <section class="pontos-vida">
            <strong>Pontos de Vida</strong>

            <div>
                <span><input type="text" inputmode="numeric" value="{{ karne.combate.pv_atual }}"></span>
                <strong>Atual</strong>
            </div>

            <div>
                <span><input type="text" inputmode="numeric" value="{{ karne.combate.pv_temp }}"></span>
                <strong>Temp.</strong>
            </div>

            <div>
                <span>—</span>
                <strong>Max.</strong>
            </div>
        </section>


        <!-- DADO DE VIDA -->
        <section>
            <strong>Dado de Vida</strong>

            <div>
                <span><input type="text" inputmode="numeric" value="{{ karne.combate.dado_gasto }}"></span>
                <strong>Gasto</strong>
            </div>

            <div>
                <span>—</span>
                <strong>Max</strong>
            </div>
        </section>


        <!-- TESTE DE RESISTÊNCIA À MORTE -->
        <section>
            <strong>Teste de Res. de Morte</strong>

            <div>
                <span>Sucessos</span>

                <label>
                    <input type="checkbox">
                </label>

                <label>
                    <input type="checkbox">
                </label>

                <label>
                    <input type="checkbox">
                </label>
            </div>

            <div>
                <span>Falhas</span>

                <label>
                    <input type="checkbox">
                </label>

                <label>
                    <input type="checkbox">
                </label>

                <label>
                    <input type="checkbox">
                </label>
            </div>
        </section>

    </div>

    <!-- ATRIBUTOS -->
    <!-- PROFICIÊNCIA -->

    {% assign nivel_ajustado = karne.infobasica.nivel | minus: 1 %}
    {% assign bonus_prof = nivel_ajustado | divided_by: 4 | plus: 2 %}

    <div class="bloco b1 prof">
        <div>
            <strong>Bônus de Proficiência</strong>
            <span>+{{ bonus_prof }}</span>
        </div>
    </div>
</div>